<header>
    <div id="rating">
        <div>
            <span id="percent">TO</span>
            <span id="mt">match</span>
        </div>
    </div>
    <h1><strong>{{ critic.name }}</strong> and <strong>you</strong> both like:</h1>
    <div id="small">
        {% for movie in similars %}
            <img src="{{ movie['Poster'] }}" alt="{{ movie['Title'] }}">
        {% endfor %}
        <div id="ellipse">...</div>
    </div>
    <button id="follow">Follow</button>
</header>
<section id="movies">
    <div id="thin">
        <h1>{{ critic.name }} recommends:</h1>
        <div id="sort">
            <button id="highest" class="s">Highest</button><button id="newest">Newest</button>
        </div>
    </div>
    <ul id="highest-grid" class="movie-grid s">
        {% for movie in favorites %}
            <li>
                <div class="overlay">
                    <span class="quote">
                        {{ movie['reviewBody'] }}
                    </span>
                    <img src="static/img/dislike_small.png" class="ex" alt="x">
                    <img src="static/img/like_small.png" class="v" alt="v">
                </div>
                <img src="{{ movie['Poster'] }}" class="poster" alt="{{ movie['Title'] }}">
                <span class="ttl">
                    <h1>{{ movie['Title'] }}</h1>
                    <span class="year">({{ movie['Year'] }})</span>
                    <div class="tomato"></div>
                    <span class="teeny">[TODO]</span>
                </span>
            </li>
        {% endfor %}
    </ul>
    <ul id="latest-grid" class="movie-grid">
        {% for movie in recents %}
            <li>
                <div class="overlay">
                    <span class="quote">
                        {{ movie['reviewBody'] }}
                    </span>
                    <img src="static/img/dislike_small.png" class="ex" alt="x">
                    <img src="static/img/like_small.png" class="v" alt="v">
                </div>
                <img src="{{ movie['Poster'] }}" class="poster" alt="{{ movie['Title'] }}">
                <span class="ttl">
                    <h1>{{ movie['Title'] }}</h1>
                    <span class="year">({{ movie['Year'] }})</span>
                    <div class="tomato"></div>
                    <span class="teeny">[TODO]</span>
                </span>
            </li>
        {% endfor %}
    </ul>
</section>